[submodule "modules/42.ft_printf"]
	path = modules/42.ft_printf
	url = git@github.com:LolelsayFR/42.ft_printf.git
[submodule "modules/42.libft"]
	path = modules/42.libft
	url = git@github.com:LolelsayFR/42.libft.git
